* {
  scroll-behavior: smooth;
}

line {
  stroke: rgba(255, 255, 255, 0.404) !important;
}

#root {
  /* max-width: 1680px; */
  width: 100%;
}

.heroWrapper {
  background-image: url('./assets/heroBg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

